@function vw1920($px){
    $vwSize:$px*100/1920;
    @return #{$vwSize}vw;
}

@function vw1440($px){
    $vwSize:$px*100/1440;
    @return #{$vwSize}vw;
}
@function vw412($px){
    $vwSize:$px*100/412;
    @return #{$vwSize}vw;
}
