body, h1, h2, h3, h4, h5, h6, ul, p, img, button, form {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

ul {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

label, input, button, select, img {
  vertical-align: middle; }

img {
  max-width: 100%;
  border: none; }

address {
  display: inline-block;
  font-style: normal; }

input, select, option, label, button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit; }

button {
  border: none;
  background: none;
  cursor: pointer; }

input[type="submit"] {
  cursor: pointer; }

input[type="text"], input[type="password"], input[type="checkbox"] {
  padding: 0;
  margin: 0;
  border: 1px solid #707070;
  background: #ffffff no-repeat center; }

form {
  border: none; }

header, nav, section, footer {
  display: block; }

.f_l {
  float: left; }

.f_r {
  float: right; }

.p_r {
  position: relative; }

.p_a {
  position: absolute; }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

.blind-b {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  border: none;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

.max1440 {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }

.more {
  text-align: center; }
  .more.round {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px; }
  .more.gradient {
    -webkit-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
    -moz-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
    -o-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
    background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
    color: #ffffff; }
  .more.white {
    background: #ffffff;
    color: #E60417; }
  .more.opaque {
    border: solid 1px #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff; }

.gray {
  background-color: #F3F3F3; }

body {
  font-family: jalnan,NtSansKR,serif;
  font-weight: 400;
  color: #222222;
  font-size: 16px;
  line-height: 1.25;
  word-break: keep-all;
  letter-spacing: 0.03; }

#skip a {
  position: absolute;
  top: 0;
  left: -9999px;
  width: 100%;
  height: 95px;
  color: #ffffff;
  background: #FF7800;
  font-size: 25px;
  text-align: center;
  line-height: 95px;
  z-index: 1000; }
  #skip a:focus {
    left: 0; }

.header_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 900;
  background: #fff;
  /* &::before{
      background: yellow;height: 0;
      &.active::before{height: auto;}
  } */ }
  .header_wrap::before, .header_wrap::after {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%; }
  .header_wrap::after {
    z-index: 900;
    height: 15px;
    background: url("../images/common/bg_header.svg") repeat-x left bottom; }

.header .logo, .header .teacher {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-animation: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%; }
.header .logo {
  position: absolute;
  left: 15px;
  width: 236px;
  height: 26px; }
  .header .logo img {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    display: block;
    width: 100%;
    height: 100%; }
.header .teacher {
  position: absolute;
  right: 15px;
  width: 179px;
  height: 50px;
  font-size: 20px; }
.header .inquiry {
  position: fixed;
  bottom: 70px;
  right: 290px;
  width: 80px;
  height: 80px;
  background: url("../images/common/circle_gradient_btn.svg") no-repeat;
  color: #ffffff;
  font-size: 22px; }

#pcGnb {
  height: 80px;
  text-align: center; }
  #pcGnb ul {
    margin: 0 auto; }
  #pcGnb > ul {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 700px;
    padding-top: 30px; }
    #pcGnb > ul > li {
      display: inline-block; }
      #pcGnb > ul > li + li {
        margin-left: 88px; }
      #pcGnb > ul > li a {
        display: block; }
      #pcGnb > ul > li > a {
        font-size: 18px;
        padding-bottom: 24px; }
      #pcGnb > ul > li:hover > a, #pcGnb > ul > li > a:focus, #pcGnb > ul > li.on > a {
        color: #E60417; }
  #pcGnb .dep2 {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 100;
    overflow: hidden;
    background: #FF7800; }
    #pcGnb .dep2 > li {
      position: relative;
      display: inline-block;
      margin-top: 35px;
      padding-bottom: 20px;
      vertical-align: top; }
      #pcGnb .dep2 > li + li {
        margin-left: 95px; }
      #pcGnb .dep2 > li > a {
        color: #ffffff; }
  #pcGnb > ul > li:nth-child(3).on .dep2::before, #pcGnb > ul > li:nth-child(4).on .dep2::before {
    content: "";
    position: fixed;
    top: 155px;
    left: 0;
    right: 0;
    padding-top: 75px; }
  #pcGnb .dep3 {
    width: calc(100% + 20px);
    /* height: 523px; */
    padding-top: 20px; }
    #pcGnb .dep3 > li {
      text-align: left; }
      #pcGnb .dep3 > li a {
        margin-top: 20px; }
      #pcGnb .dep3 > li:hover a, #pcGnb .dep3 > li a:focus {
        color: #ffffff; }
  #pcGnb > ul > li:nth-child(4) .dep3 {
    height: auto;
    padding-bottom: 40px; }

#mHeader {
  display: none; }

#cnt6 {
  /* overflow: hidden; */ }
  #cnt6 .footer {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    position: relative;
    color: #ffffff;
    background: url("../images/common/bg_footer.svg") no-repeat;
    width: 100%;
    height: 460px;
    margin-top: 60px; }
    #cnt6 .footer span {
      display: inline-block; }
      #cnt6 .footer span + span {
        margin-left: 40px; }
    #cnt6 .footer .foot_top {
      height: 115px;
      padding: 130px 0 0 15px;
      border-bottom: solid 1px #786756; }
      #cnt6 .footer .foot_top > p {
        margin-bottom: 20px; }
      #cnt6 .footer .foot_top strong {
        font-size: 40px;
        color: #6a3200; }
      #cnt6 .footer .foot_top .txt {
        display: inline-block;
        margin-left: 32px; }
        #cnt6 .footer .foot_top .txt p + p {
          margin-top: 8px; }
    #cnt6 .footer .foot_btm {
      padding-left: 15px; }
    #cnt6 .footer .foot_left {
      font-size: 14px;
      width: 800px;
      margin-top: 30px; }
      #cnt6 .footer .foot_left .first .privacy {
        margin-left: 40px;
        color: #6a3200; }
      #cnt6 .footer .foot_left .mid {
        margin: 14px 0 24px; }
    #cnt6 .footer .foot_right {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      bottom: 80px;
      right: 300px;
      width: 298px; }
      #cnt6 .footer .foot_right .family {
        text-align: right;
        padding-right: 25px;
        /* .go{width: 75px;margin-left: 25px;} */ }
        #cnt6 .footer .foot_right .family .f_select {
          font-size: 18px;
          height: 48px;
          line-height: 50px; }
        #cnt6 .footer .foot_right .family .f_select {
          position: relative;
          width: 179px;
          padding-right: 25px; }
          #cnt6 .footer .foot_right .family .f_select::after {
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-animation: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            content: "";
            position: absolute;
            top: 50%;
            right: 15px;
            width: 16px;
            height: 9.1px;
            background: url("../images/icon/down_white.svg") no-repeat center; }
          #cnt6 .footer .foot_right .family .f_select.on::after {
            background-image: url("../images/icon/up_white.svg"); }
        #cnt6 .footer .foot_right .family > ul {
          position: absolute;
          width: 850px;
          height: 375px;
          right: 0;
          top: -415px;
          text-align: center; }
          #cnt6 .footer .foot_right .family > ul > li {
            position: relative;
            float: left;
            width: 20%;
            height: 50px;
            line-height: 50px;
            color: #ffffff;
            background: #FF7800; }
            #cnt6 .footer .foot_right .family > ul > li:first-child {
              -webkit-border-radius: 10px 0 0 0;
              -moz-border-radius: 10px 0 0 0;
              border-radius: 10px 0 0 0; }
              #cnt6 .footer .foot_right .family > ul > li:first-child ul {
                -webkit-border-radius: 0 0 0 10px;
                -moz-border-radius: 0 0 0 10px;
                border-radius: 0 0 0 10px; }
            #cnt6 .footer .foot_right .family > ul > li:last-child {
              -webkit-border-radius: 0 10px 0 0;
              -moz-border-radius: 0 10px 0 0;
              border-radius: 0 10px 0 0; }
              #cnt6 .footer .foot_right .family > ul > li:last-child ul {
                -webkit-border-radius: 0 0 10px 0;
                -moz-border-radius: 0 0 10px 0;
                border-radius: 0 0 10px 0; }
            #cnt6 .footer .foot_right .family > ul > li::after {
              content: "";
              position: absolute;
              width: 1px;
              height: 100%;
              top: 0;
              right: 0;
              background: #fff; }
          #cnt6 .footer .foot_right .family > ul > li ul {
            background: #F3F3F3;
            height: 325px;
            padding-top: 20px;
            border-right: 1px solid #FF7800; }
            #cnt6 .footer .foot_right .family > ul > li ul.global {
              border: none; }
            #cnt6 .footer .foot_right .family > ul > li ul li {
              font-size: 13px;
              color: #222222;
              height: 13px;
              line-height: 13px;
              padding-bottom: 25px; }
              #cnt6 .footer .foot_right .family > ul > li ul li:hover, #cnt6 .footer .foot_right .family > ul > li ul li > a:focus {
                color: #FF7800; }
      #cnt6 .footer .foot_right .sns {
        margin-top: 23px; }
        #cnt6 .footer .foot_right .sns li {
          float: left;
          margin-left: 25px; }
          #cnt6 .footer .foot_right .sns li img {
            width: 44px;
            height: 44px; }

#dim, #modalCnt {
  position: fixed;
  z-index: 950; }

#dim {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }

#modalCnt {
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-animation: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  visibility: hidden;
  width: 800px;
  height: 750px;
  border: solid 1px #707070;
  background: #ffffff;
  padding: 25px 100px 50px;
  top: 50%;
  left: 50%; }
  #modalCnt #inquiryTit {
    position: relative;
    font-size: 30px;
    color: #E60417;
    text-align: center; }
    #modalCnt #inquiryTit::after {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-animation: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      content: "";
      position: absolute;
      width: 600px;
      height: 5px;
      background: #dddddd;
      top: 47px;
      left: 50%; }
  #modalCnt #apply {
    margin: 43px 0 0 14px;
    color: #444444; }
    #modalCnt #apply .sub_tit {
      margin-right: 30px; }
    #modalCnt #apply .ntsans, #modalCnt #apply input[type="radio"] + label {
      font-family: NtSansKR; }
    #modalCnt #apply input[type="text"], #modalCnt #apply select, #modalCnt #apply textarea, #modalCnt #apply .copyTxt {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border-color: #dddddd; }
    #modalCnt #apply input[type="text"], #modalCnt #apply select {
      height: 40px; }
    #modalCnt #apply input[type="radio"], #modalCnt #apply input[type="radio"]:checked, #modalCnt #apply input[type="checkbox"], #modalCnt #apply input[type="checkbox"]:checked {
      appearance: none;
      width: 15px;
      height: 15px; }
    #modalCnt #apply input[type="radio"], #modalCnt #apply input[type="radio"]:checked {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
    #modalCnt #apply input[type="checkbox"], #modalCnt #apply input[type="checkbox"]:checked {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
    #modalCnt #apply input[type="radio"], #modalCnt #apply input[type="checkbox"] {
      border: 2px solid #707070;
      background: #ffffff no-repeat center; }
    #modalCnt #apply input[type="radio"]:checked, #modalCnt #apply input[type="checkbox"]:checked {
      border-color: #E60417; }
    #modalCnt #apply input[type="radio"]:checked {
      background-image: url("../images/common/circle_gradient_btn.svg");
      background-size: 5px 5px; }
    #modalCnt #apply input[type="checkbox"]:checked {
      background-image: url("../images/icon/checked.svg");
      background-color: #E60417;
      background-size: 15px 15px; }
    #modalCnt #apply #name {
      width: 200px; }
    #modalCnt #apply .age {
      margin: 20px 0; }
      #modalCnt #apply .age .sub_tit {
        margin-right: 61px; }
      #modalCnt #apply .age label {
        margin-right: 10px; }
      #modalCnt #apply .age label:last-child {
        margin-right: 0; }
    #modalCnt #apply #firstNum, #modalCnt #apply #midNum, #modalCnt #apply #lastNum {
      width: 133px; }
    #modalCnt #apply .where {
      margin: 20px 0 10px; }
      #modalCnt #apply .where #center {
        margin-left: 15px; }
    #modalCnt #apply #content {
      width: 474px; }
    #modalCnt #apply .content * {
      vertical-align: middle; }
    #modalCnt #apply .copyTxt {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      overflow: auto;
      padding: 6px 7px;
      width: 100%;
      height: 90px;
      background: #fff;
      margin-bottom: 14px;
      font-size: 10px;
      border: 1px solid #dddddd; }
    #modalCnt #apply .agree_txt {
      font-size: 12px;
      margin-left: 5px; }
  #modalCnt button[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    font-size: 20px;
    width: 175px;
    height: 64px;
    line-height: 64px; }
  #modalCnt .md_close {
    position: absolute;
    width: 64px;
    height: 64px;
    top: -12px;
    right: -6px; }

/* //Laptop
@media screen and (max-width:1439px){
    .max1440{max-width: 1439px;}
}

//Mobile&tablet
@media screen and (max-width:1280px){
    //px->vw
    .max1440{max-width: vw412(412);padding: 0 vw412(10);}
    .more{
        &.round{@include radius(vw412(40));}
    }
    
    body{font-size: vw412(16);}
    
    #skip a{height: vw412(95);font-size: vw412(25);line-height: vw412(95);}
} */

/*# sourceMappingURL=common.css.map */
