@charset "utf-8";
@import "_var","_mixin","_function";

//tag reset
body,h1,h2,h3,h4,h5,h6,ul,p,img,button,form{padding: 0;margin: 0;}
h1,h2,h3,h4,h5,h6{font-size: 100%;}
ul{list-style: none;}
a:link,a:visited,a:hover,a:active{color: inherit;text-decoration: none;}
label, input, button, select, img {vertical-align:middle;}
img{max-width: 100%;border: none;}
address{display: inline-block;font-style: normal;}
input,select,option,label,button{font-family: inherit;font-size: inherit;color: inherit;line-height: inherit;}
button{border: none;background: none;cursor: pointer;}
input[type="submit"] {cursor:pointer;}
input[type="text"],input[type="password"],input[type="checkbox"]{padding: 0;margin: 0;border: 1px solid #707070;background: #ffffff no-repeat center;}
form{border: none;}
header,nav,section,footer{display: block;}

//common class
.f_l{float: left;}
.f_r{float:right;}
.p_r{position: relative;}
.p_a{position: absolute;}
.clearfix::after{content:"";clear:both;display: block;}
.blind-b{width: 1px;height: 1px;overflow:hidden;position: absolute;border: none;clip: rect(1px,1px,1px,1px);clip-path: inset(50%);}
.max1440{max-width: 1440px;width: 100%;margin: 0 auto;}
.more{
    text-align: center;
    &.round{@include radius(40px);}
    &.gradient{@include gradient;color: #ffffff;}
    &.white{background: #ffffff;color: $red;}
    &.opaque{border: solid 1px #ffffff;background-color: rgba(255, 255, 255, 0.3);color: #ffffff;}
}
.gray{background-color: $gray;}

body{font-family: jalnan,NtSansKR,serif;font-weight: 400;color: #222222;font-size: 16px;line-height: 1.25;word-break: keep-all;letter-spacing: 0.03;}

//fullpage
#fp-nav.fp-right {
    right:86px;
}
#fp-nav ul li a span{
    @include boxsizing;
    height: 14px;
    width: 14px;
    margin: 0;
    border: 2px solid $red;
    background: transparent;
}
#fp-nav ul li a.active span,#fp-nav ul li:hover a span,#fp-nav ul li:hover a.active span{
    @include gradient;
    height: 14px;
    width: 14px;
    margin: 0;
    border: none;
 }
 #fp-nav ul li .fp-tooltip {
     @include boxsizing;
    top: 0;
    font-family: jalnan,NtSansKR,serif;
    padding: 0 8px;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    @include radius(17px);
    @include gradient;
    height: 30px;line-height: 30px;
    opacity: 1;
    text-align: center;
}

#skip a{
    position: absolute;top: 0;left: -9999px;width: 100%;height: 95px;color: #ffffff;background: $orange;font-size: 25px;text-align: center;line-height: 95px;z-index: 1000;
    &:focus{left: 0;}
}

.header{
    position: fixed;top: 0;left: 0;width: 100%;height: 80px;z-index: 900;background: #ffffff;
    &::after{
        content: "";position: absolute;z-index: 900;width: 100%;height: 15px;top: 80px;left: 0;background: url("../images/common/bg_header.svg") repeat-x left bottom;
    }
    .logo{
        float: left;margin-left: 255px;padding-top: 34px;
        img{
            @include bgsize(cover);
            display: block;width: 236px;height: 26px;
        }
    }
    .teacher{position: absolute;top: 17px;right: 254px;width: 179px;height: 50px;font-size: 20px;}
    .inquiry{
        position: fixed;bottom: 70px;right: 290px;width: 80px;height: 80px;background: url("../images/common/circle_gradient_btn.svg") no-repeat;color: #ffffff;font-size: 22px;
    }
}
#pcGnb{
    height: 80px;text-align: center;
    ul{margin: 0 auto;}
    >ul{
        width: 700px;margin-top: 38px;
        >li{
            display: inline-block;
            &+li{margin-left: 88px;}
            a{display:block;}
            >a{font-size: 18px;padding-bottom: 24px;}
            &:hover>a,>a:focus,&.on>a{color: $red;}
        }
    }
    .dep2{
        position: absolute;top: 80px;left: 0;width: 100%;z-index: 100;overflow: hidden;background: $orange;
        >li{
            position: relative;display: inline-block;margin-top: 35px;padding-bottom: 20px;vertical-align: top;
            &+li{margin-left: 95px;}
            >a{color: #ffffff;}
        }
    }
    > ul > li:nth-child(3).on .dep2::before, > ul > li:nth-child(4).on .dep2::before{content: "";position: fixed;top: 155px;left: 0;right: 0;height: 523px;padding-top: 75px;}
    .dep3{
        width: calc(100% + 20px);height: 523px;padding-top: 20px;background: $gray;
        >li {
            text-align: left;
            a{margin-top: 20px;}
        }
    }
    > ul > li:nth-child(4) .dep3{height: auto;padding-bottom: 40px;}
}
#mHeader{display: none;}

#dim,#modalCnt{position: fixed;z-index: 950;}
#modalCnt{
    @include radius(80px);
    @include boxsizing;
    @include translate-50;
    visibility: hidden;position: relative;width: 800px;height: 750px;border: solid 1px #707070;background: #ffffff;padding: 25px 100px 50px;top: 50%;left: 50%;
    #inquiryTit{
        position: relative;font-size: 30px;color: $red;text-align: center;
        &::after{
            @include radius(3px);
            @include transX-50;
            content: "";position: absolute;width: 600px;height: 5px;background: #dddddd;top: 47px;left: 50%;
        }
    }
    #apply{
        margin: 43px 0 0 14px;color: $dark_gray;
        .sub_tit{margin-right: 30px;}
        .ntsans,input[type="radio"]+label{font-family: NtSansKR;}
        input[type="text"],select,textarea,.copyTxt{
            @include radius(5px);
            border-color:#dddddd;
        }
        input[type="text"],select{height: 40px;}

        //라디오,체크박스 스타일 변환
        input[type="radio"],input[type="radio"]:checked,input[type="checkbox"],input[type="checkbox"]:checked{appearance: none;width: 15px;height: 15px;}
        input[type="radio"],input[type="radio"]:checked{ @include radius(50%);}
        input[type="checkbox"],input[type="checkbox"]:checked{ @include radius(4px);}
        input[type="radio"],input[type="checkbox"]{border: 2px solid #707070;background: #ffffff no-repeat center;}
        input[type="radio"]:checked,input[type="checkbox"]:checked{border-color: $red;}
        input[type="radio"]:checked{background-image: url("../images/common/circle_gradient_btn.svg");background-size: 5px 5px;}
        input[type="checkbox"]:checked{background-image: url("../images/icon/checked.svg");background-color: $red;}

        #name{width: 200px;}
        .age{
            margin: 20px 0;
            .sub_tit{margin-right: 61px;}
            label{margin-right: 10px;}
            label:last-child{margin-right: 0;}
        }
        #firstNum,#midNum,#lastNum{width: 133px;}
        .where{
            margin: 20px 0 10px;
            #center{margin-left: 15px;}
        }
        #content{width: 474px;}
        .content{
            *{vertical-align: middle;}
        }
        .copyTxt{
            @include boxsizing;
            overflow: auto;padding: 6px 7px;width: 100%;height: 90px;background: #fff;margin-bottom: 14px;font-size: 10px;border: 1px solid #dddddd;
        }
        .agree_txt{font-size: 12px;margin-left:5px;}
    }
    button[type="submit"]{display: block;margin:0 auto;margin-top:48px;font-size: 20px;width: 175px;height: 64px;line-height: 64px;}
    .cancle{position: absolute;width: 64px;height: 64px;top: -12px;right: -6px;}

}

//Laptop
@media screen and (max-width:1439px){
    .max1440{max-width: 1439px;}
}

//Mobile&tablet
@media screen and (max-width:1280px){
    //px->vw
    .max1440{max-width: vw412(412);padding: 0 vw412(10);}
    .more{
        &.round{@include radius(vw412(40));}
    }
    
    body{font-size: vw412(16);}
    
    #skip a{height: vw412(95);font-size: vw412(25);line-height: vw412(95);}
}