#fp-nav.fp-right {
  right: 86px; }

#fp-nav ul li a span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 14px;
  width: 14px;
  margin: 0;
  border: 2px solid #E60417;
  background: transparent; }

#fp-nav ul li a.active span, #fp-nav ul li:hover a span, #fp-nav ul li:hover a.active span {
  -webkit-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
  -moz-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
  -o-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
  background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
  height: 14px;
  width: 14px;
  margin: 0;
  border: none; }

#fp-nav ul li .fp-tooltip {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  font-family: jalnan,NtSansKR,serif;
  padding: 0 8px; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  -webkit-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
  -moz-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
  -o-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
  background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
  height: 30px;
  line-height: 30px;
  opacity: 1;
  text-align: center; }

.tit {
  font-size: 35px;
  text-align: center;
  padding: 125px 0 20px; }

.tit + p {
  font-family: NtSansKR;
  font-size: 18px;
  font-weight: 500;
  text-align: center; }

#cnt1 .swiper-container {
  width: 100%;
  height: 100vh; }
  #cnt1 .swiper-container .swiper-wrapper .swiper-slide img {
    position: absolute;
    display: inline-block;
    bottom: 3.3333333333%;
    right: 0;
    width: 60.625%;
    height: 96.25%; }
  #cnt1 .swiper-container .swiper-wrapper .swiper-slide .txt {
    position: absolute;
    top: 36.1458333333%;
    left: 13.28125%; }
    #cnt1 .swiper-container .swiper-wrapper .swiper-slide .txt p {
      font-size: 30px; }
    #cnt1 .swiper-container .swiper-wrapper .swiper-slide .txt strong, #cnt1 .swiper-container .swiper-wrapper .swiper-slide .txt span {
      display: inline-block; }
  #cnt1 .swiper-container .swiper-wrapper .slide1 .txt strong {
    font-size: 50px;
    margin-bottom: 4.5833333333%; }
  #cnt1 .swiper-container .swiper-wrapper .slide2 .txt {
    top: 26.0416666667%; }
  #cnt1 .swiper-container .swiper-wrapper .slide2 p:nth-child(1) {
    font-size: 50px;
    margin-bottom: 4.5833333333%; }
  #cnt1 .swiper-container .swiper-wrapper .slide2 p:nth-child(3) {
    margin-top: 5.2083333333%; }
  #cnt1 .swiper-container .swiper-wrapper .slide3 p:nth-child(2) {
    margin-top: 5.2083333333%; }
    #cnt1 .swiper-container .swiper-wrapper .slide3 p:nth-child(2) span {
      font-size: 50px; }
#cnt1 .controller {
  position: absolute;
  bottom: 12.5%;
  left: 255px;
  z-index: 500; }
  #cnt1 .controller::before {
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-animation: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    position: absolute;
    top: 50%;
    right: 35px;
    width: 100px;
    height: 36px;
    background: #a6a6a6; }
  #cnt1 .controller .swiper-pagination, #cnt1 .controller .swiper-button-prev, #cnt1 .controller .swiper-button-next {
    position: static; }
  #cnt1 .controller .swiper-pagination, #cnt1 .controller .swiper-button-prev, #cnt1 .controller .swiper-button-next, #cnt1 .controller .play_stop {
    float: left; }
  #cnt1 .controller .swiper-pagination {
    display: inline-block;
    font-size: 30px;
    text-align: left;
    margin-left: 20px;
    width: auto; }
    #cnt1 .controller .swiper-pagination .swiper-pagination-current {
      font-size: 50px;
      color: #E60417; }
  #cnt1 .controller .swiper-button-prev, #cnt1 .controller .swiper-button-next, #cnt1 .controller .play_stop {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    background: no-repeat center;
    width: 70px;
    height: 70px;
    margin-top: 0; }
  #cnt1 .controller .swiper-button-prev {
    background-image: url("../images/icon/prev.svg"); }
    #cnt1 .controller .swiper-button-prev.on, #cnt1 .controller .swiper-button-prev:focus {
      background-image: url("../images/icon/prev_on.svg"); }
  #cnt1 .controller .swiper-button-next {
    background-image: url("../images/icon/next.svg");
    margin-left: 20px; }
    #cnt1 .controller .swiper-button-next.on, #cnt1 .controller .swiper-button-next:focus {
      background-image: url("../images/icon/next_on.svg"); }
  #cnt1 .controller .swiper-button-prev::after, #cnt1 .controller .swiper-button-next::after {
    content: ""; }
  #cnt1 .controller .play {
    position: relative;
    background-image: url("../images/icon/play_on.svg");
    margin-left: 57px;
    opacity: 0; }
  #cnt1 .controller .stop {
    position: relative;
    background-image: url("../images/icon/stop_on.svg");
    margin-left: 30px; }

#cnt2 .swiper-container {
  margin-top: 60px; }
  #cnt2 .swiper-container .swiper-wrapper {
    margin-left: 100px; }
    #cnt2 .swiper-container .swiper-wrapper .swiper-slide .img_wrap {
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      width: 374px;
      height: 576px; }
      #cnt2 .swiper-container .swiper-wrapper .swiper-slide .img_wrap img {
        background: no-repeat center;
        width: 309px;
        padding-top: 82px; }
    #cnt2 .swiper-container .swiper-wrapper .swiper-slide-next {
      margin-left: -100px; }
#cnt2 .txt {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 6px 6px 15px rgba(0, 0, 47, 0.3);
  -moz-box-shadow: 6px 6px 15px rgba(0, 0, 47, 0.3);
  box-shadow: 6px 6px 15px rgba(0, 0, 47, 0.3);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-animation: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 256px;
  top: 50%;
  background: #ffffff;
  border: 1px solid #777;
  width: 335px;
  height: 230px;
  text-align: center; }
  #cnt2 .txt strong {
    display: block;
    margin: 28px 0;
    font-size: 25px; }
  #cnt2 .txt ul li {
    position: relative;
    text-align: left;
    padding-left: 102px; }
    #cnt2 .txt ul li::before {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-animation: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      content: "";
      position: absolute;
      left: 87px;
      top: 50%;
      background: #222;
      width: 8px;
      height: 2.5px; }
  #cnt2 .txt button {
    display: inline-block;
    width: 85px;
    height: 31px;
    font-size: 13px;
    margin-top: 30px; }
#cnt2 .controller {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important; }
  #cnt2 .controller .swiper-button-prev, #cnt2 .controller .swiper-button-next {
    background: no-repeat center;
    width: 70px;
    height: 70px; }
  #cnt2 .controller .swiper-button-prev {
    background-image: url("../images/icon/prev.svg");
    left: 14px; }
  #cnt2 .controller .swiper-button-next {
    background-image: url("../images/icon/next.svg");
    right: 14px; }
  #cnt2 .controller .swiper-button-prev::after, #cnt2 .controller .swiper-button-next::after {
    content: ""; }
  #cnt2 .controller .swiper-button-prev.swiper-button-disabled, #cnt2 .controller .swiper-button-next.swiper-button-disabled {
    opacity: 0.6; }

#cnt3 {
  position: relative;
  overflow: hidden; }
  #cnt3 .baby, #cnt3 .ele {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    position: absolute;
    background: no-repeat; }
  #cnt3 .txt {
    position: absolute;
    line-height: 1.5; }
    #cnt3 .txt strong {
      display: inline-block;
      font-size: 50px; }
    #cnt3 .txt p {
      font-size: 25px;
      margin-top: 6.6666666667%; }
  #cnt3 .baby {
    top: -7.2916666667%;
    left: -3.59375%;
    background-position: right bottom;
    background-image: url("../images/main/bg_orange.svg");
    width: 51.5104166667%;
    height: 95.4166666667%; }
    #cnt3 .baby .txt {
      color: #ffffff;
      text-align: right;
      top: 43.125%;
      right: 5.2083333333%; }
  #cnt3 .ele {
    top: 20.8333333333%;
    right: -3.59375%;
    background-position: left top;
    background-image: url("../images/main/bg_mint.svg");
    width: 53.1770833333%;
    height: 96.5625%; }
    #cnt3 .ele .txt {
      text-align: left;
      top: 39.2708333333%;
      left: 6.25%; }
      #cnt3 .ele .txt p {
        color: #444444; }

#cnt4 {
  /* h2{padding-top: 0;} */ }
  #cnt4 h2, #cnt4 h2 + p, #cnt4 ul {
    position: relative;
    z-index: 10; }
  #cnt4 > div::before, #cnt4 > div::after {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: "";
    position: absolute;
    background: #ffdd08;
    opacity: 0.58; }
  #cnt4 > div::before {
    width: 97px;
    height: 97px;
    top: 142px;
    left: 513px; }
  #cnt4 > div span > img {
    position: absolute;
    width: 168px;
    height: 168px;
    top: 358px;
    left: 92px;
    opacity: 0.58; }
  #cnt4 ul {
    margin-top: 70px; }
    #cnt4 ul li {
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      float: left;
      width: 340px;
      height: 500px;
      overflow: hidden; }
      #cnt4 ul li + li {
        margin-left: 15px; }
      #cnt4 ul li img {
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        background-size: cover !important;
        display: block;
        height: 250px;
        width: 100%; }
      #cnt4 ul li .txt {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #B5B5B5;
        border-top: none;
        background: #fff;
        padding: 20px;
        height: 250px; }
        #cnt4 ul li .txt .event, #cnt4 ul li .txt .benefit {
          color: #ffffff;
          width: 76px;
          height: 29px;
          line-height: 29px;
          margin-bottom: 20px; }
        #cnt4 ul li .txt .event {
          background-color: #E60417; }
        #cnt4 ul li .txt .benefit {
          background-color: #FF7800; }
        #cnt4 ul li .txt strong {
          display: block;
          font-size: 18px;
          line-height: 23px;
          padding-bottom: 40px; }
        #cnt4 ul li .txt .date {
          position: relative;
          font-size: 15px;
          line-height: 19px;
          color: #444444;
          margin-bottom: 20px; }
          #cnt4 ul li .txt .date::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 1px;
            background: #E60417;
            left: 0;
            top: -20px; }
        #cnt4 ul li .txt button {
          visibility: hidden;
          display: block;
          width: 90px;
          height: 33px;
          line-height: 33px;
          font-size: 13px;
          margin: 0 auto; }
    #cnt4 ul li:hover, #cnt4 ul li.on {
      margin-top: -40px;
      cursor: pointer; }
      #cnt4 ul li:hover .txt, #cnt4 ul li.on .txt {
        -webkit-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
        -moz-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
        -o-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
        background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
        padding-top: 20px;
        color: #ffffff;
        border-color: transparent; }
        #cnt4 ul li:hover .txt .date, #cnt4 ul li.on .txt .date {
          color: #ffffff; }
        #cnt4 ul li:hover .txt button, #cnt4 ul li.on .txt button {
          display: block;
          visibility: visible; }

#cnt5 #questionTab {
  margin-top: 15px; }
#cnt5 .tablist {
  text-align: center;
  margin-bottom: 30px; }
#cnt5 .tab {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 340px;
  height: 50px;
  border: 1px solid #E60417;
  line-height: 50px;
  text-align: center;
  background: #ffffff;
  cursor: pointer; }
  #cnt5 .tab + li {
    margin-left: 381px; }
  #cnt5 .tab:focus, #cnt5 .tab.on {
    -webkit-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
    -moz-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
    -o-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
    background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
    color: #ffffff; }
#cnt5 .accordion {
  width: 100%; }
  #cnt5 .accordion .accoheader {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 70px;
    line-height: 70px;
    border: solid 1px #F3F3F3;
    background: #ffffff;
    text-align: left;
    padding-left: 70px;
    font-size: 20px; }
    #cnt5 .accordion .accoheader::before {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-animation: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      content: "";
      position: absolute;
      left: 20px;
      top: 50%;
      background: url("../images/icon/q.svg") no-repeat center;
      width: 40px;
      height: 40px; }
  #cnt5 .accordion .accopanel {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    height: 140px;
    padding: 20px 20px 0px;
    background: #F3F3F3; }
    #cnt5 .accordion .accopanel p {
      font-family: NtSnasKR;
      font-size: 18px;
      line-height: 27px; }
#cnt5 a {
  position: relative;
  display: block;
  float: right;
  font-size: 23px;
  color: #444444;
  margin: 30px 55px 0 0; }
  #cnt5 a::after {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-animation: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    position: absolute;
    right: -41px;
    top: 50%;
    width: 36px;
    height: 36px;
    background: url("../images/icon/next.svg") no-repeat center; }

#cnt6 .tit {
  padding: 166px 0 13px; }
#cnt6 .app_down {
  display: block;
  color: #fff;
  background: url("../images/main/wood.svg") no-repeat center;
  height: 235.4px;
  text-align: center; }
  #cnt6 .app_down strong {
    display: inline-block;
    font-size: 50px;
    margin-top: 80px; }
    #cnt6 .app_down strong span {
      display: block;
      font-size: 30px;
      margin-top: 20px; }

@media screen and (max-width: 1280px) {
  .tit {
    font-size: 7.2815533981vw;
    padding-top: 36.4077669903vw; }

  .tit + p {
    font-size: 4.3689320388vw; }

  #cnt1 .swiper-wrapper .swiper-slide img {
    top: 0;
    /* left:vw412(72); */
    right: 0;
    width: 100%;
    /* height: vw412(611); */ }
  #cnt1 .swiper-wrapper .swiper-slide:nth-child(1) strong, #cnt1 .swiper-wrapper .swiper-slide:nth-child(2) p:nth-child(1), #cnt1 .swiper-wrapper .swiper-slide span {
    font-size: 7.2815533981vw; }
  #cnt1 .swiper-wrapper .swiper-slide strong, #cnt1 .swiper-wrapper .swiper-slide:nth-child(2) p:nth-child(1) {
    margin-bottom: 30px; }
  #cnt1 .swiper-wrapper .swiper-slide .txt {
    top: 58.2524271845vw;
    left: 4.1262135922vw; }
    #cnt1 .swiper-wrapper .swiper-slide .txt p {
      font-size: 3.8834951456vw; }
  #cnt1 .swiper-wrapper .slide2 p:nth-child(3), #cnt1 .swiper-wrapper .slide3 p:nth-child(2) {
    margin-top: 7.2815533981vw; }
  #cnt1 .swiper-wrapper .slide2 .txt {
    top: 58.2524271845vw !important; }
  #cnt1 .controller {
    bottom: 49.7572815534vw;
    left: 9.7087378641vw; }
    #cnt1 .controller::before {
      -webkit-border-radius: 4.3689320388vw;
      -moz-border-radius: 4.3689320388vw;
      border-radius: 4.3689320388vw;
      right: 3.8834951456vw;
      width: 11.1650485437vw;
      height: 4.1262135922vw; }
    #cnt1 .controller .swiper-pagination {
      font-size: 3.3980582524vw;
      margin-left: 15px; }
      #cnt1 .controller .swiper-pagination .swiper-pagination-current {
        font-size: 4.854368932vw; }
    #cnt1 .controller .swiper-button-prev, #cnt1 .controller .swiper-button-next, #cnt1 .controller .play_stop {
      width: 7.7669902913vw;
      height: 7.7669902913vw;
      margin-top: 0; }
    #cnt1 .controller .swiper-button-next {
      margin-left: 15px; }
    #cnt1 .controller .play {
      margin-left: 20px; }
    #cnt1 .controller .stop {
      margin-left: 30px; }

  #cnt2 .swiper-container {
    margin-top: 55px;
    width: 100%;
    height: 100%; }
    #cnt2 .swiper-container .swiper-wrapper {
      margin-left: 0; }
      #cnt2 .swiper-container .swiper-wrapper .swiper-slide {
        width: 83.25%; }
        #cnt2 .swiper-container .swiper-wrapper .swiper-slide + .swiper-slide {
          margin-left: 300px; }
        #cnt2 .swiper-container .swiper-wrapper .swiper-slide .img_wrap {
          -webkit-border-radius: 4.854368932vw;
          -moz-border-radius: 4.854368932vw;
          border-radius: 4.854368932vw;
          width: 52.6699029126vw;
          height: 81.067961165vw; }
          #cnt2 .swiper-container .swiper-wrapper .swiper-slide .img_wrap img {
            width: 100%;
            padding-top: 8.2524271845vw; }
      #cnt2 .swiper-container .swiper-wrapper .swiper-slide-next {
        margin-left: 0; }
  #cnt2 .txt {
    right: 0;
    width: 47.0873786408vw;
    height: 32.5242718447vw;
    line-height: 1.23;
    font-size: 3.1553398058vw; }
    #cnt2 .txt strong {
      margin: 3.3980582524vw 0;
      font-size: 3.8834951456vw; }
    #cnt2 .txt ul li {
      padding-left: 102px; }
      #cnt2 .txt ul li::before {
        left: 7.7669902913vw;
        width: 1.6990291262vw;
        height: 0.6067961165vw; }
    #cnt2 .txt button {
      width: 16.0194174757vw;
      height: 4.3689320388vw;
      font-size: 2.427184466vw;
      margin-top: 3.640776699vw; }
  #cnt2 .controller {
    display: none; }

  #cnt3 {
    width: 100%;
    height: 169.9029126214vw;
    background: yellow;
    margin-top: 38.8349514563vw; }
    #cnt3 .txt strong {
      font-size: 7.2815533981vw; }
    #cnt3 .txt p {
      font-size: 3.640776699vw;
      margin-top: 6.067961165vw; }
    #cnt3 .baby {
      top: 0;
      right: 13.3495145631vw;
      width: 87.8640776699vw;
      height: 94.9029126214vw; }
      #cnt3 .baby .txt {
        top: 33.9805825243vw;
        right: 14.0776699029vw; }
    #cnt3 .ele {
      bottom: 0;
      right: 0;
      width: 88.8349514563vw;
      height: 91.9902912621vw; }
      #cnt3 .ele .txt {
        top: 33.9805825243vw;
        left: 15.7766990291vw; }

  #cnt4 > div::before {
    width: 17.9611650485vw;
    height: 17.9611650485vw;
    top: -10.4368932039vw;
    left: 3.8834951456vw; }
  #cnt4 > div::after, #cnt4 span > img {
    display: none; }
  #cnt4 ul {
    margin-top: 13.3495145631vw; }
    #cnt4 ul li {
      -webkit-border-radius: 7.2815533981vw;
      -moz-border-radius: 7.2815533981vw;
      border-radius: 7.2815533981vw;
      float: none;
      width: 100%;
      height: 121.359223301vw; }
      #cnt4 ul li + li {
        margin-left: 0;
        margin-top: 7.2815533981vw; }
      #cnt4 ul li img {
        height: 48.5436893204vw;
        width: 100%; }
      #cnt4 ul li .txt {
        padding: 8.4951456311vw;
        height: 72.8155339806vw; }
        #cnt4 ul li .txt .event, #cnt4 ul li .txt .benefit {
          width: 18.4466019417vw;
          height: 7.0388349515vw;
          line-height: 1.8125;
          margin-bottom: 20px;
          font-size: 3.8834951456vw; }
        #cnt4 ul li .txt strong {
          font-size: 4.3689320388vw;
          line-height: 1.277;
          padding-bottom: 13.3495145631vw; }
        #cnt4 ul li .txt .date {
          font-size: 3.640776699vw;
          line-height: 1.267;
          margin-bottom: 9.7087378641vw; }
          #cnt4 ul li .txt .date::before {
            width: 7.2815533981vw;
            top: -6.6747572816vw; }
        #cnt4 ul li .txt button {
          width: 21.8446601942vw;
          height: 8.0097087379vw;
          line-height: 8.0097087379vw;
          font-size: 3.1553398058vw; }
    #cnt4 ul li:hover, #cnt4 ul li.on {
      margin-top: -6.067961165vw; }
      #cnt4 ul li:hover .txt, #cnt4 ul li.on .txt {
        padding-top: -3.640776699vw; }

  #cnt5 #questionTab {
    margin-top: 13.3495145631vw; }
  #cnt5 .tablist {
    margin-bottom: 7.2815533981vw; }
  #cnt5 .tab {
    -webkit-border-radius: 2.427184466vw;
    -moz-border-radius: 2.427184466vw;
    border-radius: 2.427184466vw;
    width: 33.9805825243vw;
    height: 9.7087378641vw;
    line-height: 9.7087378641vw;
    font-size: 3.8834951456vw; }
    #cnt5 .tab + li {
      margin-left: 13.5922330097vw; }
  #cnt5 .accordion .accoheader {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 12.1359223301vw;
    line-height: 12.1359223301vw;
    padding-left: 12.1359223301vw;
    font-size: 3.8834951456vw; }
    #cnt5 .accordion .accoheader::before {
      left: 2.427184466vw;
      width: 7.2815533981vw;
      height: 7.2815533981vw; }
  #cnt5 .accordion .accopanel {
    height: 41.2621359223vw;
    padding: 2.427184466vw;
    padding-bottom: 0; }
    #cnt5 .accordion .accopanel p {
      font-size: 3.3980582524vw;
      line-height: 1.428; }
  #cnt5 a {
    font-size: 3.3980582524vw;
    margin: 5.3398058252vw 5.3398058252vw 0 0; }
    #cnt5 a::after {
      right: -5.3398058252vw;
      width: 4.1262135922vw;
      height: 4.1262135922vw; }

  #cnt6 .tit {
    padding: 37.3786407767vw 0 3.1553398058vw;
    font-size: 5.5825242718vw;
    line-height: 1.26; }
  #cnt6 .app_down {
    height: 28.3980582524vw; }
    #cnt6 .app_down strong {
      font-size: 6.067961165vw;
      margin-top: 8.4951456311vw; }
      #cnt6 .app_down strong span {
        font-size: 3.8834951456vw;
        margin-top: 1.213592233vw; } }

/*# sourceMappingURL=main.css.map */
